<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calculadora CI/CD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="calculadora">
    <h1>Calculadora CI/CD</h1>

    <form method="POST" onsubmit="prepararEnvio()">

        <!-- PANTALLA -->
        <input type="text" id="pantalla" readonly
               value="{% if resultado is not none %}{{ resultado }}{% endif %}">

        <!-- CAMPOS OCULTOS -->
        <input type="hidden" name="val1" id="val1">
        <input type="hidden" name="val2" id="val2">
        <input type="hidden" name="op" id="op">

        <div class="botones">
            <button type="button" onclick="limpiar()">C</button>
            <button type="button" onclick="borrar()">⌫</button>

            <button type="button" onclick="setOperacion('/')">÷</button>
            <button type="button" onclick="setOperacion('*')">×</button>

            <button type="button" onclick="agregar('7')">7</button>
            <button type="button" onclick="agregar('8')">8</button>
            <button type="button" onclick="agregar('9')">9</button>
            <button type="button" onclick="setOperacion('-')">−</button>

            <button type="button" onclick="agregar('4')">4</button>
            <button type="button" onclick="agregar('5')">5</button>
            <button type="button" onclick="agregar('6')">6</button>
            <button type="button" onclick="setOperacion('+')">+</button>

            <button type="button" onclick="agregar('1')">1</button>
            <button type="button" onclick="agregar('2')">2</button>
            <button type="button" onclick="agregar('3')">3</button>

            <button type="button" onclick="agregar('0')">0</button>

            <button class="igual" type="submit">=</button>
        </div>
    </form>
</div>

<script>
let pantalla = document.getElementById("pantalla");
let operacion = "";

function agregar(valor) {
    pantalla.value += valor;
}

function limpiar() {
    pantalla.value = "";
    operacion = "";
}

function borrar() {
    pantalla.value = pantalla.value.slice(0, -1);
}

function setOperacion(op) {
    operacion = op;
    pantalla.value += " " + op + " ";
}

function prepararEnvio() {
    let expresion = pantalla.value.split(" ");

    document.getElementById("val1").value = expresion[0];
    document.getElementById("val2").value = expresion[2];

    switch(operacion){
        case '+': document.getElementById("op").value = "sumar"; break;
        case '-': document.getElementById("op").value = "restar"; break;
        case '*': document.getElementById("op").value = "multiplicar"; break;
        case '/': document.getElementById("op").value = "dividir"; break;
    }
}
</script>

</body>
</html>
